/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

		row-gpios = <&gpio0 0 (GPIO_ACTIVE_LOW)>,
			<&gpio0 1 (GPIO_ACTIVE_LOW)>,
			<&gpio0 10 (GPIO_ACTIVE_LOW)>,
			<&gpio0 11 (GPIO_ACTIVE_LOW)>,
			<&gpio0 12 (GPIO_ACTIVE_LOW)>,
			<&gpio1 1 (GPIO_ACTIVE_LOW)>,
			<&gpio1 2 (GPIO_ACTIVE_LOW)>,
			<&gpio1 4 (GPIO_ACTIVE_LOW)>;

        col-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW)>;
        diode-direction = "col2row";
    };
};
