#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp ESC   &kp A &kp B &kp C &kp D &kp E          &kp E &kp D  &kp C     &kp B   &kp A    &kp BSLH
	&kp TAB   &kp F &kp G &kp H &kp I &kp J          &kp J &kp I  &kp H     &kp G   &kp F    &kp SQT
	&kp LSHFT &kp K &kp L &kp M &kp N &kp O          &kp O &kp N  &kp M     &kp L   &kp K    &kp RCTRL
	                &kp A &kp B &kp C                      &kp C  &kp B     &kp A
			>;
		};
	};
};
