/
{
    compatible = "zmk,shield";
    shield-name = "alitbkmini_left";

    matrix {
        compatible = "zmk,matrix";
        label = "MATRIX";
        #address-cells = <1>;
        #size-cells = <0>;
        row-gpios = <
            &gpio0 1 GPIO_ACTIVE_LOW,
            &gpio0 2 GPIO_ACTIVE_LOW,
            &gpio0 3 GPIO_ACTIVE_LOW
        >;
        col-gpios = <
            &gpio0 4 GPIO_ACTIVE_LOW,
            &gpio0 5 GPIO_ACTIVE_LOW,
            &gpio0 6 GPIO_ACTIVE_LOW,
            &gpio0 7 GPIO_ACTIVE_LOW,
            &gpio0 8 GPIO_ACTIVE_LOW,
            &gpio0 9 GPIO_ACTIVE_LOW
        >;
    };
};

