#include "alitbkmini.dtsi"

&kscan0 {
	col-gpios
		= <&gpio0  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};
